#login__btn__outlined {
	color: white;
	cursor: pointer;
	background-color: rgba(37, 52, 73, 1);
	padding: 0.5rem;
	border: 1px solid white;
}
#login__btn__outlined:hover {
	color: rgba(37, 52, 73, 1);
	background-color: white;
	border: 1px solid rgba(37, 52, 73, 1);
}
#login__btn__outlined__light {
	color: rgba(37, 52, 73, 1);
	cursor: pointer;
	background-color: white;
	padding: 0.5rem;
	border: 1px solid rgba(37, 52, 73, 1);
}
#login__btn__outlined__light:hover {
	color: white;
	background-color: rgba(37, 52, 73, 1);
	border: 1px solid white;
}
.login,
.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #111827;
}
.login__light,
.signup__light {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: white;
}
.name__error {
	color: white;
}
.name__error__light {
	color: black;
}
.login__form {
	background-color: rgba(37, 52, 73, 1);
}
.login__form__light {
	background-color: white;
}
