.App {
  text-align: center;
  background-color: rgba(17, 24, 39, 1);
  color: white;
}

.White {
  background-color: #fff;
  color: black;
}

.App-link {
  color: #61dafb;
}

.btn {
  background-color: transparent;
  border: none;
  color: #fff;
}
.answer__btn {
  background-color: transparent;
}
.answer__btn:hover {
  background-color: rgba(37, 52, 73, 1);
}
.nav__btn {
  background-color: rgba(37, 52, 73, 1);
  border: none;
  color: #fff;
  margin: 5px;
  padding: 1rem;
  cursor: pointer;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}
